.flex-box ul {
	display: block;
	margin:0;
	padding:0;
	overflow: hidden;
}
*html .flex-box ul {
	zoom:1;
}
.flex-box li {
	display: block;
	margin:0 1px 1px 0;
	float: left;
	min-width:90px;
	text-align: center;
	white-space: nowrap;
}
*html .flex-box li {
	width:19%;
}

.flex-box ul {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}
.flex-box li {
	-webkit-flex-grow:1;
	flex-grow:1;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	-webkit-flex-basis:90px;
	flex-basis:90px;
}

.flex-box a {
	display: block;
	padding:0.2em 0;
	border:1px solid;
}
*html .flex-box a {
	zoom:1;
}


input.longtext {
	width:100%;
}
*html input.longtext {
	width:90%;
}
*+html input.longtext {
	width:99%;
}
.region-longtext input[type=text],
.region-longtext input[type=password] {
	width:100%;
}

.region-longtext input

.region-callgen .field .label {
	width:7em;
}


.region-config .field .label {
	width:11em;
}

.region-filter input[type=text] {
	width:100%;
}

.detail-item {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom:2px solid;
}
.detail-item:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}


.iplist {
	overflow: hidden;
}
.iplist input {
	float: left;
}
.iplist label {
	display: block;
	overflow: hidden;
}