.flex-box a {
	border-color: #222;
}

.flex-box a:hover {
	border-color: #333;
	background: #222;
}

.topic .admin-message-tools {
	border-color: #333;
}

.topic .admin-message-tools a.tool:hover {
	background:#333;
}

.topic .admin-message-tools .tool-status {
	background:#383838;
}

.auditting-message .title,
.auditting-message .title a,
.auditting-message .words {
	color:#777;
}

.detail-item {
	border-color: #333;
}