.flex-box a {
	border-color: #222;
}

.flex-box a:hover {
	border-color: #333;
	background: #222;
}

.auditting-message .title,
.auditting-message .title a,
.auditting-message .words {
	color:#777;
}

.detail-item {
	border-color: #333;
}