body {
	color: #ccc;
	background: #000 url(../../image/bg_black.gif);
}

a {
	color: #00c000;
}

textarea, input, select {
	border-color: #333;
	outline-color: #666;
	color: #c90;
	background: #181818;
}
input[type=text],
input[type=password],
select,
textarea {
	box-shadow: inset 0 3px 3px rgba(48, 48, 48, 0.3);
}

.header {
	color: #fff200;
	border-color:#333;
	background: #222;
	box-shadow:0 0 3px #333;
}

.mainborder {
	border-color:#333;
	background:#000;
	box-shadow: 0 0 20px #666;
}

.guest-functions .aside .function {
	border-color: #fff;
}

.topic {
	border-color: #333;
	background: #181818;
}

.topic .message {
	border-color: #333;
}

.topic .info {
	color: #ccc;
	border-color: #333;
}

.topic .detail {
	border-color: #333;
}

.topic .title {
	border-color: #333;
	color: #c90;
	background: #222;
}

.topic .icons .icon {
	color:#999;
	border-color:#333;
}
.topic .icons .icon .icon-image {
	background:#333;
}
.topic .icons .icon .icon-image img {
	opacity:0.9;
}

.topic .inner-message {
	border-color: #333;
	background: #222;
}

.topic .inner-message .summary {
	color: #c90;
	border-color: #333;
}

.topic .inner-message .summary .icons .icon {
	border-color:#373737;
}
.topic .inner-message .summary .icons .icon .icon-image {
	background:#373737;
}

.topic .admin-message .title,
.topic .admin-message .summary {
	color: #c90;
}

.topic .admin-message .words {
	color: #ccc;
}

.topic-list {
	border-color: #333;
	background: #181818;
}

.topic-list tbody tr:hover td {
	background: #222;
}

.topic-list th,
.topic-list td {
	border-color: #333;
}

.topic-list th {
	color: #c90;
	background: #222;
}

.region {
	border-color: #333;
	color: #ccc;
	background: #181818;
}

.region .title {
	border-color: #333;
	color: #c90;
	background: #222;
}

.region .content table {
	border-color: #333;
}

.region .content table th,
.region .content table td {
	border-color: #333;
}

.page-list .nav a {
	border-color: #181818;
}

.page-list .nav a:hover {
	border-color: #333;
	background: #222;
}

.page-list .pagenum,
.page-list .pagenum:link,
.page-list .pagenum:visited,
.page-list .pagenum:active,
.page-list .pagenum:hover {
	border-color: #181818;
	color: #fff;
}

.page-list .pagenum:hover {
	border-color: #333;
	background: #222;
}

.page-list .pagenum-current,
.page-list .pagenum-current:link,
.page-list .pagenum-current:visited,
.page-list .pagenum-current:active,
.page-list .pagenum-current:hover {
	color: red;
}

.tab-outer-container .tab-title-container {
	border-color: #666;
}

.tab-outer-container .tab-title {
	border-color: transparent;
	border-bottom-color: #666;
}

* html .tab-outer-container .tab-title {
	border-color: #181818;
	border-bottom-color: #666;
}

.tab-outer-container .tab-title-selected {
	border-color: #666;
	border-bottom-color: transparent;
	background: #181818;
}

* html .tab-outer-container .tab-title-selected {
	border-color: #666;
	border-bottom-color: #181818;
}

* + html .tab-outer-container .tab-title-selected {
	border-bottom-color: #181818;
}

.ubbtoolbar .ubbbutton,
.ubbtoolbar .ubbface {
	border-color: #181818;
}

.ubbtoolbar .ubbbutton:hover,
.ubbtoolbar .ubbface:hover {
	border-color: #333;
	background: #222;
}