.flex-box ul {
	display: block;
	margin:0;
	padding:0;
	overflow: hidden;
}
*html .flex-box ul {
	zoom:1;
}
.flex-box li {
	display: block;
	margin:0 1px 1px 0;
	float: left;
	min-width:90px;
	text-align: center;
	white-space: nowrap;
}
*html .flex-box li {
	width:19%;
}

.flex-box ul {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}
.flex-box li {
	-webkit-flex-grow:1;
	flex-grow:1;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	-webkit-flex-basis:90px;
	flex-basis:90px;
}

.flex-box a {
	display: block;
	padding:0.2em 0;
	border:1px solid;
}
*html .flex-box a {
	zoom:1;
}

.region-callgen .field .label {
	width:7em;
}


.region-config .field .label {
	width:11em;
}

.region-filter input[type=text] {
	width:100%;
}

.detail-item {
	padding:10px;
	border:1px #808080 solid;
	box-shadow: 0 0 10px #808080;
	border-radius: 5px;
}


.iplist {
	overflow: hidden;
}
.iplist input {
	float: left;
}
.iplist label {
	display: block;
	overflow: hidden;
}