/**************** common ****************/
body {
	color:#333;
	margin: 0;
	padding: 0;
	font-style: normal;
}

input, textarea, select {
	color:#333;
	border:1px solid;
	margin:0;
	box-sizing: border-box;
}

input, textarea {
	padding: 2px;
	border: solid 1px;
	background-color: #fff;
	max-width:100%;
}
input[type=text],
input[type=password],
select,
textarea {
	box-shadow: inset 0 3px 3px rgba(224, 224, 224, 0.3);
}
textarea {
	display: block;
	width:100%;
}
*html textarea {
	width:99%;
}
*+html textarea {
	width:99%;
}

input[type=submit],
input[type=reset],
input[type=button],
button {
	padding: 0.4em 2em;
	cursor: pointer;
}
*+html input[type=submit],
*+html input[type=reset],
*+html input[type=button],
*+html button {
	padding:0.3em 1em;
}

input[disabled],
button[disabled],
select[disabled],
textarea[disabled] {
	opacity: 0.7;
	box-shadow:none;
	border-style:dashed;
}

input.longtext,
select.longtext
{
	width:100%;
}
*html input.longtext,
*html select.longtext
{
	width:90%;
}
*+html input.longtext,
*+html select.longtext
{
	width:99%;
}
.region-longtext input[type=text],
.region-longtext input[type=password],
.region-longtext select
{
	width:100%;
}

img {
	border: 0;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin:0 0 1em 0;
}

label {
	display: inline-block;
}

.centertext {
	text-align: center;
}

.outerborder {
	overflow: hidden;
}


/**************** common - form ****************/
form {
	margin: 0;
	padding: 0;
}

form .field {
	margin-bottom: 1em;
	overflow: hidden;
}
*html form .field {
	zoom:1;
}

form .field .label {
	float: left;
	margin-right: 0.5em;
	padding:1px;
	width:6em;
}

form .field .label,
form .field .label img,
form .field .label span,
form .field .value,
form .field .value input {
	display: inline-block;
	vertical-align: middle;
}

form .field .label img {
	margin-right: 0.5em;
}

form .field .label .required {
	color: #f00;
}

form .field .value {
	display: block;
	padding:1px;
	overflow: hidden;
}

form img.captcha {
	margin-left: 0.5em;
	vertical-align: middle;
}

form .command {
	margin-top: 2em;
	text-align: center;
	clear: both;
}

form .field-command {
	margin-bottom: 1em;
}

form .row {
	display: block;
}

/**************** header ****************/
.header {
	border-bottom: 1px #eee solid;
	overflow: hidden;
	background-size:100% 100%;
}
*html .header {
	zoom:1;
}

.header .logo {
	display:inline-block;
	vertical-align: middle;
	margin:5px;
}
*html .header .logo {
	display: inline;
}
*+html .header .logo {
	display: inline;
}

.header .banner {
	display: block;
	margin:0 auto 5px auto;
	max-width:100%;
	height: auto;
}

.header .breadcrumb {
	display: inline-block;
	vertical-align: middle;
	margin:5px;
	font-size: 1.25em;
}
*html .header .breadcrumb {
	display: inline;
}
*+html .header .breadcrumb {
	display: inline;
}

/**************** mainborder ****************/
.mainborder {
	overflow: hidden;
	background: #f8f8f8;
	border: 1px #ccc solid;
	box-shadow: 0 0 20px #ccc;
}

body .narrow-mainborder {
	max-width: 400px;
}
*html body .narrow-mainborder {
	width: 400px;
}

/**************** guest-functions ****************/
.guest-functions {
	overflow: hidden;
	padding:0 0.5em;
}
*html .guest-functions {
	zoom:1;
}

.guest-functions img {
	vertical-align: middle;
	margin-right: 5px;
}

.guest-functions .main {
	float: left;
	padding-bottom: 1px;    /* fix issue for chrome to hide bottom border of inside button */
}
.guest-functions .main .function {
	height: 30px;
	display: block;
	float: left;
	margin-right: 2em;
}

.guest-functions .aside {
	float: right;
}
.guest-functions .aside .function {
	display: block;
	float: left;
	padding:0 1em;
	border-left:1px solid;
}
.guest-functions .aside .function:last-child {
	padding-right: 0;
}

/**************** topic ****************/
.topic {
	overflow: hidden;
	border-top:1px solid;
}
*html .topic {
	zoom:1;
}
.topic:last-child {
	margin-bottom: 0;
}

.topic .icons .icon {
	display: inline-block;
	vertical-align: bottom;
	margin:0 2px;
}
.topic .icons .icon img {
	display: block;
}

.topic .message {
	overflow: hidden;
	border:1px solid;
}
*html .topic .message {
	zoom:1;
}

.topic .outer-message {
	margin-top: -1px;
}
*html .topic .outer-message {
	zoom:1;
}

.topic .title {
	margin:0;
	padding:0 0 0 5px;
	border-bottom:1px solid;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: left top repeat-x;
	background-size:100% 100%;
}

.topic .info {
	float: left;
	border-right:1px solid;
	margin-right:-1px;
	transition: width 200ms ease;
}
*html .topic .info {
	margin-right: -4px;
}
.topic .info .name,
.topic .info .icons,
.topic .info .face,
.topic .info .date {
	display: block;
	margin:5px auto;
	text-align: center;
}

.topic .detail {
	overflow: hidden;
	border-left:1px solid;
}
*html .topic .detail {
	zoom:1;
}

.topic .words {
	margin:10px;
	word-wrap:break-word;
}

.topic .words img {
	max-width: 100%;
}

.topic .guest-message-tools {
	margin:10px;
	text-align: right;
}
.topic .guest-message-tools .tool {
	display: inline-block;
	vertical-align: bottom;
	margin-left: 0.5em;;
}

.topic .inner-hint {

}
.topic .inner-hint img {
	display: inline-block;
	vertical-align: text-bottom;
	margin-right: 5px;
}

.topic .inner-message {
	margin:12px 24px 24px 24px;
	padding:10px;
	border:1px solid;
	border-radius: 3px;
}

.topic .inner-message .summary {
	border-bottom:1px solid;
	margin-bottom: 10px;
	padding-bottom: 5px;
	overflow: hidden;
	font-weight: bold;
}
*html .topic .inner-message .summary {
	zoom:1;
}
.topic .inner-message .summary .name,
.topic .inner-message .summary .date,
.topic .inner-message .summary .icons {
	float: left;
	margin-right: 5px;
}

.topic .inner-message .title {
	clear: both;
	padding-left: 0;
	height: auto;
	line-height: normal;
	background: none;
	border-bottom: 0;
}

.topic .inner-message .face {
	display: block;
	float: left;
	margin:0 10px 5px 0;
}

.topic .inner-message .words {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.topic .outer-hint {
	border:1px solid;
	margin-top:-1px;
	padding:5px;
	text-align: right;
}

.topic .admin-message-tools {
	margin-top: -1px;
	padding:5px;
	border:1px solid;
	overflow: hidden;
}
*html .topic .admin-message-tools {
	zoom:1;
}
.topic .detail .admin-message-tools {
	margin:24px 0;
	border-left: 0;
	border-right: 0;
}
.topic .detail .admin-message-tools:last-child {
	margin-bottom: 0;
	border-bottom: 0;
}

.topic .admin-message-tools .group {
	overflow: hidden;
}
*html .topic .admin-message-tools .group {
	zoom:1;
}

.topic .admin-message-tools .name {
	float: left;
	width:80px;
}

.topic .admin-message-tools .tools {
	overflow: hidden;
}
*html .topic .admin-message-tools .tools {
	zoom:1;
}

.topic .admin-message-tools .tool {
	display: block;
	float: left;
	margin:0 5px;
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
}

.topic .admin-message-tools img {
	display: inline-block;
	vertical-align: text-bottom;
}

/**************** topic-list ****************/
.topic-list {
	table-layout: fixed;
	border-collapse: collapse;
	border:1px solid;
	width:100%;
	box-sizing: border-box;
}

.topic-list tr {
}

.topic-list th,
.topic-list td {
	margin:0;
	padding:0 5px;
	border:1px solid;
	height: 25px;
	line-height: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.topic-list a {
	display: block;
}
*html .topic-list a {
	zoom:1;
}

.topic-list img {
	display: block;
}

.topic-list .select {
	width:15px;
}
.topic-list .select input {
	display: block;
	width:100%;
	height: 100%;
	margin:0;
	padding:0;
	border:0;
	background: none;
}

.topic-list .icon {
	width:15px;
}
*html .topic-list .icon a {
	display: none;
}

.topic-list .title {
	min-width:50px;
}

.topic-list .name {
	width:15%;
}

.topic-list .date {
	width:20%;
}

.topic-list .user {
	width:13%;
}

/**************** grid ****************/
.grid {
}

.grid th,
.grid td {
	position: relative;
	padding:3px;
	vertical-align: bottom;
}

.grid th *,
.grid td * {
	display: block;
}

.grid label {
	text-align: center;
	cursor: pointer;
}

.grid input {
	position: absolute;
	left:3px;
	top:3px;
	cursor: pointer;
}

.grid img {
	max-width:100%;
	margin:0 auto;
	cursor: pointer;
}

/**************** region ****************/
.region {
	border:1px solid;
	margin-left: auto;
	margin-right: auto;
}

.region .title {
	text-align: center;
	margin:0;
	padding:0;
	border-bottom:1px solid;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: left top repeat-x;
	background-size:100% 100%;
}
.region .title img {
	display: inline-block;
	vertical-align: middle;
}


.region .content {
	padding:10px;
}

.region .content img {
	max-width:100%;
}

.region .content table {
	border-collapse: collapse;
	border:1px solid;
	width:100%;
	box-sizing: border-box;
}

.region .content table th,
.region .content table td {
	border:1px solid;
}

.region .content table tbody th {
	text-align: left;
}

.region .content table a {
	display: block;
	text-align: center;
}
*html .region .content table a {
	zoom:1;
}

/**************** form-region ****************/
.form-region {
}

.form-region form {
	margin:10px;
}

/**************** center-region ****************/
.center-region {
	text-align: center;
}

/**************** narrow-region ****************/
.narrow-region {
	max-width:400px;
}
.narrow-region:first-child {
	margin-top: 0;
}
*html .narrow-region {
	width:400px;
}

/**************** page-list ****************/
.page-list {
	overflow: hidden;
}
*html .page-list {
	zoom:1;
}

.page-list .nav a {
	display: block;
	padding:3px;
	border:1px solid;
	cursor: pointer;
}
.page-list .nav img {
	display: block;
}
.page-list .nav .js-page-control {
	display: none;
}

.page-list .backward-nav {
	float: left;
}
.page-list .backward-nav a{
	float: left;
}

.page-list .forward-nav {
	float: right;
}
.page-list .forward-nav a {
	float: left;
}

.page-list .pagenum-list {
	margin-bottom: 1em;
}

.page-list .pagenum {
	display: inline-block;
	padding:5px 10px;
	border:1px solid;
}
.page-list .pagenum:hover {
	text-decoration: none;
}

.page-list form {
	text-align: center;
}

.page-list form .page {
	width:50px;
}

.page-list form .submit {
	padding:0.2em 1em;
}

/**************** footer ****************/
.footer {
	margin:1em auto 0 auto;
	text-align:center;
}

.footer, .footer a {
	color:#888;
}
.footer a:hover {
	color:#000;
}

/**************** tab-container ****************/
.tab-outer-container {

}

.tab-outer-container .tab-title-container {
	border-bottom:1px solid;
	vertical-align: bottom;
	padding-left: 0.5em;
}
*html .tab-outer-container .tab-title-container {
	overflow: hidden;
	zoom:1;
}
*+html .tab-outer-container .tab-title-container {
	overflow: hidden;
	zoom:1;
}

.tab-outer-container .tab-title {
	display: inline-block;
	position: relative;
	bottom: -1px;
	white-space: nowrap;
	border:1px solid;
	margin-top: 0.5em;
	padding:0.5em 1em;
	cursor: pointer;
}
*html .tab-outer-container .tab-title {
	float: left;
	zoom:1;
}
*+html .tab-outer-container .tab-title {
	float: left;
	zoom:1;
}

.tab-outer-container .tab-page {
	padding:20px;
}

.tab-outer-container .tab-page h4 {
	display: none;
}

.tab-outer-container .topic-list {
	margin-top: 0;
}

/**************** ubbtoolbar ****************/
.ubbtoolbar {
	line-height:normal;
}

.ubbtoolbar .ubbbutton,
.ubbtoolbar .ubbface {
	display: inline-block;
	border:1px solid;
	padding:2px;
	cursor: pointer;
}

.ubbtoolbar .ubbbutton img,
.ubbtoolbar .ubbface img {
	display: block;
}

/**************** ubb-wrapper ****************/
.ubb-wrapper {
	overflow: hidden;
}
*html .ubb-wrapper {
	width:100%;
}

.ubb-wrapper img,
.ubb-wrapper object,
.ubb-wrapper embed {
	display: block;
	max-width: 100%;
}

.ubb-wrapper embed {
	width: 100%;
	min-height: 300px;
}

/**************** colors-container ****************/
.colorsContainer {
	position: absolute;
	z-index: 1;
	display: none;
	border:2px solid #000;
	background: #000;
	box-shadow: 0 0 10px #000;
}
*html .colorsContainer {
	width:260px;
}

.colorsInfo {
	padding: 5px;
	overflow: hidden;
}
*html .colorsInfo {
	zoom: 1;
}

.colorsPreview {width:40px; height:25px; border:solid 1px #fff; float:left;}
.colorsNumber {width:50px; height:16px; border:none; color:#fff; float:left; margin:3px 3px 3px 10px;}
.colorsCancel {width:40px; float:left; border:solid 1px #fff; margin:2px 2px 2px 30px; color:#fff; text-align:center; cursor:pointer;}

.colorsPalette {
}

.colorsPalette .colorsRow {
	overflow: hidden;
}
*html .colorsPalette .colorsRow {
	zoom:1;
}

.colorsPalette .colorsCell {
	cursor: pointer;
	border: solid 1px #000;
	margin: 0;
	padding: 0;
	width: 11px;
	height: 11px;
	float: left;
}
.colorsPalette .colorsCell:hover {
	border-color:#fff;
}

.tlist {
	text-align: left;
	overflow: hidden;
	background: none;
}
.tlist ul {
	display: block;
	margin:0 0 1em 0;
	padding:0;
}
.tlist li,
.tlist a {
	display: block;
	margin:0;
	padding:0;
}

/**************** Responsible ****************/
@media only screen and (max-width: 420px) {
	body .mainborder {
		border-width:0 0 1px 0;
		margin-top:0;
		padding-left: 1px;
		padding-right: 1px;
	}
	body .region:first-child {
		margin-top: 0;
	}

	body .narrow-mainborder {
		padding:0;
		border:0;
	}

	body .topic .info {
		width:25%;
	}

	body .topic .info img {
		max-width: 100%;
		height: auto;
	}
}