.flex-box a {
	border-color:#d3cee1;
}
.flex-box a:hover {
	border-color:#aea8bf;
	background:#f3f1f7;
}

.topic .admin-message-tools {
	border-color: #c0bad2;
}

.detail-item {
	border-color:#c0bad2;
}