.flex-box a {
	border-color:#d3cee1;
}
.flex-box a:hover {
	border-color:#aea8bf;
	background:#f3f1f7;
}

.topic .admin-message-tools {
	border-color: #c0bad2;
}

.topic .admin-message-tools a.tool:hover {
	background:#f3f1f7;
}

.topic .admin-message-tools .tool-status {
	background:#d6d3e9;
}

.detail-item {
	border-color:#c0bad2;
}