body {
	background: #efeff7 url(../../image/bg_silver.gif);
}

textarea, input, select {
	border-color: #c0bad2;
	outline-color:#9c8fc1;
	background: #fff;
}

.header {
	border-color:#c0bad2;
	background: #d6d3e9;
	box-shadow:0 0 3px #c0bad2;
}

.guest-functions .aside .function {
	border-color: #000;
}

.topic {
	border-color: #c0bad2;
	background: #e7e3ef;
}

.topic .message {
	border-color: #c0bad2;
}

.topic .info {
	border-color: #c0bad2;
}

.topic .detail {
	border-color: #c0bad2;
}

.topic .title {
	border-color: #c0bad2;
	background: #d6d3e9;
}

.topic .icons .icon {
	border-color:#d5d2ee;
}
.topic .icons .icon .icon-image {
	background:#d5d2ee;
}

.topic .inner-message {
	border-color: #c0bad2;
	background: #f3f1f7;
}

.topic .inner-message .summary {
	border-color: #c0bad2;
}

.topic .inner-message .summary .icons .icon {
	border-color:#e2e0ee;
}
.topic .inner-message .summary .icons .icon .icon-image {
	background:#e2e0ee;
}

.topic .admin-message .title,
.topic .admin-message .summary {
	color: #000;
}

.topic .admin-message .words {
	color: #000;
}

.topic-list {
	border-color: #c0bad2;
	background: #e7e3ef;
}

.topic-list tbody tr:hover td {
	background: #f3f1f7;
}

.topic-list th,
.topic-list td {
	border-color: #c0bad2;
}

.topic-list th {
	background:#d6d3e9;
}

.region {
	border-color: #c0bad2;
	background: #e7e3ef;
}

.region .title {
	border-color: #c0bad2;
	background: #d6d3e9;
}

.region .content table {
	border-color: #c0bad2;
}

.region .content table th,
.region .content table td {
	border-color: #c0bad2;
}

.page-list .nav a {
	border-color: #e7e3ef;
}

.page-list .nav a:hover {
	border-color: #aea8bf;
	background: #f3f1f7;
}

.page-list .pagenum,
.page-list .pagenum:link,
.page-list .pagenum:visited,
.page-list .pagenum:active,
.page-list .pagenum:hover {
	border-color: #e7e3ef;
}

.page-list .pagenum:hover {
	border-color: #aea8bf;
	background: #f3f1f7;
}

.page-list .pagenum-current,
.page-list .pagenum-current:link,
.page-list .pagenum-current:visited,
.page-list .pagenum-current:active,
.page-list .pagenum-current:hover {
	color: red;
}

.tab-outer-container .tab-title-container {
	border-color: #aea8bf;
}

.tab-outer-container .tab-title {
	border-color: transparent;
	border-bottom-color: #aea8bf;
}

* html .tab-outer-container .tab-title {
	border-color: #e7e3ef;
	border-bottom-color: #aea8bf;
}

.tab-outer-container .tab-title-selected {
	border-color: #aea8bf;
	border-bottom-color: transparent;
	background: #e7e3ef;
}

* html .tab-outer-container .tab-title-selected {
	border-color: #aea8bf;
	border-bottom-color: #e7e3ef;
}

* + html .tab-outer-container .tab-title-selected {
	border-bottom-color: #e7e3ef;
}

.ubbtoolbar .ubbbutton,
.ubbtoolbar .ubbface {
	border-color: #e7e3ef;
}

.ubbtoolbar .ubbbutton:hover,
.ubbtoolbar .ubbface:hover {
	border-color: #aea8bf;
	background: #f3f1f7;
}