.flex-box a {
	border-color:#b2dfb2;
}
.flex-box a:hover {
	border-color:#56c556;
	background:#f6fff6;
}

.topic .admin-message-tools {
	border-color: #94ca94;
}

.detail-item {
	border-color:#94ca94;
}