body {
	background: #f5fff7 url(../../image/bg_green.jpg);
}

textarea, input, select {
	border-color: #94ca94;
	outline-color: #56c556;
	background: #fff;
}

.header {
	background: #efe;
	box-shadow:0 0 3px #94ca94;
}

.guest-functions .aside .function {
	border-color: #000;
}

.topic {
	border-color: #94ca94;
	background: #efe;
}

.topic .message {
	border-color: #94ca94;
}

.topic .info {
	border-color: #94ca94;
}

.topic .detail {
	border-color: #94ca94;
}

.topic .title {
	border-color: #94ca94;
	background: #d4f1d4;
}

.topic .inner-message {
	border-color: #94ca94;
	background: #f6fff6;
}

.topic .inner-message .summary {
	border-color: #94ca94;
}

.topic .admin-message .title,
.topic .admin-message .summary {
	color: #000;
}

.topic .admin-message .words {
	color: #000;
}

.topic-list {
	border-color: #94ca94;
	background: #efe;
}

.topic-list tbody tr:hover td {
	background: #f6fff6;
}

.topic-list th,
.topic-list td {
	border-color: #94ca94;
}

.topic-list th {
	background: #d4f1d4;
}

.region {
	border-color: #94ca94;
	background: #efe;
}

.region .title {
	border-color: #94ca94;
	background: #d4f1d4;
}

.region .content table {
	border-color: #94ca94;
}

.region .content table th,
.region .content table td {
	border-color: #94ca94;
}

.page-list .nav a {
	border-color: #efe;
}

.page-list .nav a:hover {
	border-color: #94ca94;
	background: #f6fff6;
}

.page-list .pagenum,
.page-list .pagenum:link,
.page-list .pagenum:visited,
.page-list .pagenum:active,
.page-list .pagenum:hover {
	border-color: #efe;
}

.page-list .pagenum:hover {
	border-color: #56c556;
	background: #f6fff6;
}

.page-list .pagenum-current,
.page-list .pagenum-current:link,
.page-list .pagenum-current:visited,
.page-list .pagenum-current:active,
.page-list .pagenum-current:hover {
	color: red;
}

.tab-outer-container .tab-title-container {
	border-color: #56c556;
}

.tab-outer-container .tab-title {
	border-color: transparent;
	border-bottom-color: #56c556;
}

* html .tab-outer-container .tab-title {
	border-color: #efe;
	border-bottom-color: #56c556;
}

.tab-outer-container .tab-title-selected {
	border-color: #56c556;
	border-bottom-color: transparent;
	background: #efe;
}

* html .tab-outer-container .tab-title-selected {
	border-color: #56c556;
	border-bottom-color: #efe;
}

* + html .tab-outer-container .tab-title-selected {
	border-bottom-color: #efe;
}

.ubbtoolbar .ubbbutton,
.ubbtoolbar .ubbface {
	border-color: #efe;
}

.ubbtoolbar .ubbbutton:hover,
.ubbtoolbar .ubbface:hover {
	border-color: #56c556;
	background: #f6fff6;
}