.flex-box a {
	border-color:#b2ccd6;
}
.flex-box a:hover {
	border-color:#0080b0;
	background:#f7f7f7;
}

.topic .admin-message-tools {
	border-color: #4cb2d9;
}

.detail-item {
	border-color:#4cb2d9;
}