body {
	color: #000;
	background-color: #fff;
	background-image: url(../../image/bg_blackblue.gif);
}

a {
	color: #000;
}

textarea, input, select {
	border-color: #0080b0;
	color: #000;
	background-color: #fff;
}

.header {
	color: #000;
	background-color: #fff;
	background-image: url(../../image/bar_top_blackblue.gif);
}

.guest-functions .aside .function {
	border-color: #000;
}

.topic {
	border-color: #0080b0;
	background-color: #f0f0f0;
}

.topic .message {
	border-color: #0080b0;
	color: #000;
}

.topic .info {
	color: #000;
	border-color: #0080b0;
	background-color: #f0f0f0;
	background-image: none;
}

.topic .detail {
	border-color: #0080b0;
}

.topic .title {
	border-color: #0080b0;
	color: #000;
	background-color: #0080b0;
	background-image: url(../../image/bar_blackblue.gif);
}

.topic .inner-message {
	border-color: #0080b0;
	background-color: #f7f7f7;
}

.topic .inner-message .summary {
	color: #000;
	border-color: #0080b0;
}

.topic .admin-message .title,
.topic .admin-message .summary {
	color: #000;
}

.topic .admin-message .words {
	color: #000;
}

.topic .outer-hint {
	border-color: #0080b0;
}

.topic .admin-message-tools {
	border-color: #0080b0;
}

.topic-list {
	border-color: #0080b0;
	background-color: #f0f0f0;
}

.topic-list tbody tr:hover td {
	background: #f7f7f7;
}

.topic-list th,
.topic-list td {
	border-color: #0080b0;
}

.topic-list th {
	color: #000;
	background-color: #0080b0;
	background-image: url(../../image/bar_blackblue.gif);
}

.region {
	border-color: #0080b0;
	color: #000;
	background-color: #f0f0f0;
}

.region .title {
	border-color: #0080b0;
	color: #000;
	background-color: #0080b0;
	background-image: url(../../image/bar_blackblue.gif);
}

.region .content table {
	border-color: #0080b0;
}

.region .content table th,
.region .content table td {
	border-color: #0080b0;
}

.page-list .nav a {
	border-color: #f0f0f0;
}

.page-list .nav a:hover {
	border-color: #0080b0;
	background-color: #f7f7f7;
}

.page-list .pagenum,
.page-list .pagenum:link,
.page-list .pagenum:visited,
.page-list .pagenum:active,
.page-list .pagenum:hover {
	border-color: #f0f0f0;
	color: #000;
}

.page-list .pagenum:hover {
	border-color: #0080b0;
	background-color: #f7f7f7;
}

.page-list .pagenum-current,
.page-list .pagenum-current:link,
.page-list .pagenum-current:visited,
.page-list .pagenum-current:active,
.page-list .pagenum-current:hover {
	color: red;
}

.tab-outer-container .tab-title-container {
	border-color: #0080b0;
}

.tab-outer-container .tab-title {
	border-color: transparent;
	border-bottom-color: #0080b0;
}

* html .tab-outer-container .tab-title {
	border-color: #f0f0f0;
	border-bottom-color: #0080b0;
}

.tab-outer-container .tab-title-selected {
	border-color: #0080b0;
	border-bottom-color: transparent;
	background-color: #f0f0f0;
}

* html .tab-outer-container .tab-title-selected {
	border-color: #0080b0;
	border-bottom-color: #f0f0f0;
}

* + html .tab-outer-container .tab-title-selected {
	border-bottom-color: #f0f0f0;
}

.ubbtoolbar .ubbbutton,
.ubbtoolbar .ubbface {
	border-color: #f0f0f0;
}

.ubbtoolbar .ubbbutton:hover,
.ubbtoolbar .ubbface:hover {
	border-color: #0080b0;
	background-color: #f7f7f7;
}