.flex-box a {
	border-color:#fac6a5;
}
.flex-box a:hover {
	border-color:#ff6500;
	background:#fff9f3;
}

.topic .admin-message-tools {
	border-color: #fdb78a;
}

.topic .admin-message-tools a.tool:hover {
	background:#fff9f3;
}

.topic .admin-message-tools .tool-status {
	background:#ffe2ca;
}

.detail-item {
	border-color:#fdb78a;
}