.flex-box ul,
.flex-box li {
	border-color:#ff6500;
}

.flex-box a {
	border-color:#ccc;
}
.flex-box a:hover {
	border-color:#ff6500;
	background-color:#fff9f3;
}


.detail-item {
	border-color:#ff6500;
}