body {
	background: #fff7ef url(../../image/bg_orange.gif);
}

textarea, input, select {
	border-color: #fdb78a;
	outline-color:#ff6500;
	background: #fff;
}

.header {
	border-color:#fdb78a;
	background: #ffe2ca;
	box-shadow:0 0 3px #fdb78a;
}

.guest-functions .aside .function {
	border-color: #000;
}

.topic {
	border-color: #fdb78a;
	background: #fff3e7;
}

.topic .message {
	border-color: #fdb78a;
}

.topic .info {
	border-color: #fdb78a;
}

.topic .detail {
	border-color: #fdb78a;
}

.topic .title {
	border-color: #fdb78a;
	background: #ffe2ca;
}

.topic .icons .icon {
	border-color:#ffe2ca;
}
.topic .icons .icon .icon-image {
	background:#ffe2ca;
}

.topic .inner-message {
	border-color: #fdb78a;
	background: #fff9f3;
}

.topic .inner-message .summary {
	border-color: #fdb78a;
}

.topic .inner-message .summary .icons .icon {
	border-color:#ffe8d5;
}
.topic .inner-message .summary .icons .icon .icon-image {
	background:#ffe8d5;
}

.topic .admin-message .title,
.topic .admin-message .summary {
	color: #000;
}

.topic .admin-message .words {
	color: #000;
}

.topic-list {
	border-color: #fdb78a;
	background: #fff3e7;
}

.topic-list tbody tr:hover td {
	background: #fff9f3;
}

.topic-list th,
.topic-list td {
	border-color: #fdb78a;
}

.topic-list th {
	background: #ffe2ca;
}

.region {
	border-color: #fdb78a;
	background: #fff3e7;
}

.region .title {
	border-color: #fdb78a;
	background: #ffe2ca;
}

.region .content table {
	border-color: #fdb78a;
}

.region .content table th,
.region .content table td {
	border-color: #fdb78a;
}

.page-list .nav a {
	border-color: #fff3e7;
}

.page-list .nav a:hover {
	border-color: #ff6500;
	background: #fff9f3;
}

.page-list .pagenum,
.page-list .pagenum:link,
.page-list .pagenum:visited,
.page-list .pagenum:active,
.page-list .pagenum:hover {
	border-color: #fff3e7;
}

.page-list .pagenum:hover {
	border-color: #ff6500;
	background: #fff9f3;
}

.page-list .pagenum-current,
.page-list .pagenum-current:link,
.page-list .pagenum-current:visited,
.page-list .pagenum-current:active,
.page-list .pagenum-current:hover {
	color: red;
}

.tab-outer-container .tab-title-container {
	border-color: #ff6500;
}

.tab-outer-container .tab-title {
	border-color: transparent;
	border-bottom-color: #ff6500;
}

* html .tab-outer-container .tab-title {
	border-color: #fff3e7;
	border-bottom-color: #ff6500;
}

.tab-outer-container .tab-title-selected {
	border-color: #ff6500;
	border-bottom-color: transparent;
	background: #fff3e7;
}

* html .tab-outer-container .tab-title-selected {
	border-color: #ff6500;
	border-bottom-color: #fff3e7;
}

* + html .tab-outer-container .tab-title-selected {
	border-bottom-color: #fff3e7;
}

.ubbtoolbar .ubbbutton,
.ubbtoolbar .ubbface {
	border-color: #fff3e7;
}

.ubbtoolbar .ubbbutton:hover,
.ubbtoolbar .ubbface:hover {
	border-color: #ff6500;
	background: #fff9f3;
}