.flex-box a {
	border-color:#cebd5d;
}
.flex-box a:hover {
	border-color:#fff200;
	background:#c00000;
}

.topic .admin-message-tools {
	border-color: #e3c629;
}

.topic .admin-message-tools a.tool:hover {
	background:#c00000;
}

.topic .admin-message-tools .tool-status {
	background:#c42912;
}

.auditting-message .title,
.auditting-message .title a,
.auditting-message .words {
	color:#b5a759;
}

.detail-item {
	border-color:#e3c629;
	box-shadow: 0 0 20px rgba(100,100,100,0.5);
}