body {
	color: #e4d26e;
	background: #b80000 url(../../image/bg_festival.gif);
}

a {
	color: #e4d26e;
}

textarea, input, select {
	border-color: #e3c629;
	outline-color: #fff200;
	color: #e4d26e;
	background: #a00;
}
input[type=text],
input[type=password],
select,
textarea {
	box-shadow: none;
}

.header {
	color: #e3c629;
	border-color:#e3c629;
	background: #a00;
	box-shadow:0 0 3px #e3c629;
}

.mainborder {
	border-color:#bd0000;
	background:#9d0000 ;
	box-shadow: 0 0 20px rgba(100,100,100,0.5);
}

.guest-functions .aside .function {
	border-color: #e3c629;
}

.topic {
	border-color: #e3c629;
	background: #a00;
}

.topic .message {
	border-color: #e3c629;
	color: #e4d26e;
}

.topic .info {
	color: #e4d26e;
	border-color: #e3c629;
}

.topic .detail {
	border-color: #e3c629;
}

.topic .title {
	border-color: #e3c629;
	color: #e4d26e;
	background:#c42912;
}

.topic .inner-message {
	border-color: #e3c629;
	background: #c00000;
}

.topic .inner-message .summary {
	color: #e4d26e;
	border-color: #e3c629;
}

.topic .admin-message .title,
.topic .admin-message .summary {
	color: #e4d26e;
}

.topic .admin-message .words {
	color: #e4d26e;
}

.topic .admin-message-tools {
	border-color: #e3c629;
}

.topic-list {
	border-color: #e3c629;
	background: #c42912;
}

.topic-list tbody tr:hover td {
	background: #c00000;
}

.topic-list th,
.topic-list td {
	border-color: #e3c629;
}

.topic-list th {
	color: #e4d26e;
	background:#c42912;
}

.region {
	border-color: #e3c629;
	color: #e4d26e;
	background: #a00;
}

.region .title {
	border-color: #e3c629;
	color: #e4d26e;
	background:#c42912;
}

.region .content table {
	border-color: #e3c629;
}

.region .content table th,
.region .content table td {
	border-color: #e3c629;
}

.page-list .nav a {
	border-color: #a00;
}

.page-list .nav a:hover {
	border-color: #fff200;
	background: #c00000;
}

.page-list .pagenum,
.page-list .pagenum:link,
.page-list .pagenum:visited,
.page-list .pagenum:active,
.page-list .pagenum:hover {
	border-color: #a00;
	color: #000;
}

.page-list .pagenum:hover {
	border-color: #fff200;
	background: #c00000;
}

.page-list .pagenum-current,
.page-list .pagenum-current:link,
.page-list .pagenum-current:visited,
.page-list .pagenum-current:active,
.page-list .pagenum-current:hover {
	color: #fff200;
}

.tab-outer-container .tab-title-container {
	border-color: #fff200;
}

.tab-outer-container .tab-title {
	border-color: transparent;
	border-bottom-color: #fff200;
}

* html .tab-outer-container .tab-title {
	border-color: #a00;
	border-bottom-color: #fff200;
}

.tab-outer-container .tab-title-selected {
	border-color: #fff200;
	border-bottom-color: transparent;
	background: #a00;
}

* html .tab-outer-container .tab-title-selected {
	border-color: #fff200;
	border-bottom-color: #a00;
}

* + html .tab-outer-container .tab-title-selected {
	border-bottom-color: #a00;
}

.ubbtoolbar .ubbbutton,
.ubbtoolbar .ubbface {
	border-color: #a00;
}

.ubbtoolbar .ubbbutton:hover,
.ubbtoolbar .ubbface:hover {
	border-color: #fff200;
	background: #c00000;
}