.flex-box ul,
.flex-box li {
	border-color:#ff9cbf;
}

.flex-box a {
	border-color:#ccc;
}
.flex-box a:hover {
	border-color:#ff9cbf;
	background-color:#fff6fb;
}


.detail-item {
	border-color:#ff9cbf;
}