.flex-box ul,
.flex-box li {
	border-color:#80a8ff;
}

.flex-box a {
	border-color:#ccc;
}
.flex-box a:hover {
	border-color:#80a8ff;
	background-color:#f6f8fb;
}


.detail-item {
	border-color:#80a8ff;
}