.flex-box a {
	border-color:#ccc;
}
.flex-box a:hover {
	border-color:#80a8ff;
	background:#f6f8fb;
}

.topic .admin-message-tools {
	border-color: #b5ccff;
}

.detail-item {
	border-color:#b5ccff;
}