.flex-box a {
	border-color:#ddd;
}
.flex-box a:hover {
	border-color:#ccc;
	background:#fff;
}

.topic .admin-message-tools {
	border-color: #ccc;
}

.detail-item {
	border-color:#ccc;
}