.flex-box a {
	border-color:#ddd;
}
.flex-box a:hover {
	border-color:#ccc;
	background:#fff;
}

.topic .admin-message-tools {
	border-color: #ccc;
}

.topic .admin-message-tools a.tool:hover {
	background:#fff;
}

.topic .admin-message-tools .tool-status {
	background:#e6e6e6;
}

.detail-item {
	border-color:#ccc;
}