body {
	color:#4c4c4c;
	background: #f1f1f1 url(../../image/bg_default.gif);
}

textarea, input, select {
	border-color: #ccc;
	outline-color: #b7b7b7;
	background: #fff;
}

.header {
	border-color:#ccc;
	background: #f7f7f7;
	box-shadow:0 0 3px #ccc;
}

.mainborder {
	background:#fbfbfb;
}

.guest-functions .aside .function {
	border-color: #000;
}

.topic {
	border-color: #ccc;
	background-color: #f7f7f7;
}

.topic .message {
	border-color: #ccc;
}

.topic .info {
	border-color: #ccc;
}

.topic .detail {
	border-color: #ccc;
}

.topic .title {
	border-color: #ccc;
	background:#e6e6e6;
}

.topic .inner-message {
	border-color: #ddd;
	background-color: #fff;
}

.topic .inner-message .summary {
	border-color: #ddd;
}

.topic .admin-message .title,
.topic .admin-message .summary {
	color: #000;
}

.topic .admin-message .words {
	color: #000;
}

.topic-list {
	border-color: #ccc;
	background: #f7f7f7;
}

.topic-list tbody tr:hover td {
	background: #fff;
}

.topic-list th,
.topic-list td {
	border-color: #ccc;
}

.topic-list th {
	background:#e6e6e6;
}

.region {
	border-color: #ccc;
	background: #f7f7f7;
}

.region .title {
	border-color: #ccc;
	background:#e6e6e6;
}

.region .content table {
	border-color: #ccc;
}

.region .content table th,
.region .content table td {
	border-color: #ccc;
}

.page-list .nav a {
	border-color: #f7f7f7;
}

.page-list .nav a:hover {
	border-color: #ccc;
	background: #fff;
}

.page-list .pagenum,
.page-list .pagenum:link,
.page-list .pagenum:visited,
.page-list .pagenum:active,
.page-list .pagenum:hover {
	border-color: #f7f7f7;
}

.page-list .pagenum:hover {
	border-color: #ccc;
	background: #fff;
}

.page-list .pagenum-current,
.page-list .pagenum-current:link,
.page-list .pagenum-current:visited,
.page-list .pagenum-current:active,
.page-list .pagenum-current:hover {
	color: red;
}

.tab-outer-container .tab-title-container {
	border-color: #ccc;
}

.tab-outer-container .tab-title {
	border-color: transparent;
	border-bottom-color: #ccc;
}

*html .tab-outer-container .tab-title {
	border-color: #e6e6e6;
	border-bottom-color: #ccc;
}

.tab-outer-container .tab-title-selected {
	border-color: #ccc;
	border-bottom-color: transparent;
	background: #f7f7f7;
}

*html .tab-outer-container .tab-title-selected {
	border-color: #ccc;
	border-bottom-color: #e6e6e6;
}

*+html .tab-outer-container .tab-title-selected {
	border-bottom-color: #e6e6e6;
}

.ubbtoolbar .ubbbutton,
.ubbtoolbar .ubbface {
	border-color: #f7f7f7;
}

.ubbtoolbar .ubbbutton:hover,
.ubbtoolbar .ubbface:hover {
	border-color: #ccc;
	background: #fff;
}