.flex-box a {
	border-color:#c4d9ed;
}
.flex-box a:hover {
	border-color:#69c;
	background:#f7f8f9;
}

.topic .admin-message-tools {
	border-color: #86b1dc;
}

.detail-item {
	border-color:#69c;
}