body {
	color: #000;
	background-color: #eff4fa;
	background-image: url(../../image/bg_darkblue.gif);
}

a {
	color: #000;
}

textarea, input, select {
	border-color: #69c;
	color: #000;
	background-color: #fff;
}

.outerborder {
	border-width: 2px;
	border-color: #69c;
	padding: 2px;
}

.header {
	color: #000;
	background-color: #69c;
	background-image: url(../../image/bar_top_darkblue.gif);
}

.guest-functions .aside .function {
	border-color: #000;
}

.topic {
	border-color: #69c;
	background-color: #eff1f3;
}

.topic .message {
	border-color: #69c;
	color: #000;
}

.topic .info {
	color: #000;
	border-color: #69c;
	background-color: #eff1f3;
	background-image: none;
}

.topic .detail {
	border-color: #69c;
}

.topic .title {
	border-color: #69c;
	color: #000;
	background-color: #69c;
	background-image: url(../../image/bar_darkblue.gif);
}

.topic .inner-message {
	border-color: #69c;
	background-color: #f7f8f9;
}

.topic .inner-message .summary {
	color: #000;
	border-color: #69c;
}

.topic .admin-message .title,
.topic .admin-message .summary {
	color: #000;
}

.topic .admin-message .words {
	color: #000;
}

.topic .outer-hint {
	border-color: #69c;
}

.topic .admin-message-tools {
	border-color: #69c;
}

.topic-list {
	border-color: #69c;
	background-color: #eff1f3;
}

.topic-list tbody tr:hover td {
	background: #f7f8f9;
}

.topic-list th,
.topic-list td {
	border-color: #69c;
}

.topic-list th {
	color: #000;
	background-color: #69c;
	background-image: url(../../image/bar_darkblue.gif);
}

.region {
	border-color: #69c;
	color: #000;
	background-color: #eff1f3;
}

.region .title {
	border-color: #69c;
	color: #000;
	background-color: #69c;
	background-image: url(../../image/bar_darkblue.gif);
}

.region .content table {
	border-color: #69c;
}

.region .content table th,
.region .content table td {
	border-color: #69c;
}

.page-list .nav a {
	border-color: #eff1f3;
}

.page-list .nav a:hover {
	border-color: #69c;
	background-color: #f7f8f9;
}

.page-list .pagenum,
.page-list .pagenum:link,
.page-list .pagenum:visited,
.page-list .pagenum:active,
.page-list .pagenum:hover {
	border-color: #eff1f3;
	color: #000;
}

.page-list .pagenum:hover {
	border-color: #69c;
	background-color: #f7f8f9;
}

.page-list .pagenum-current,
.page-list .pagenum-current:link,
.page-list .pagenum-current:visited,
.page-list .pagenum-current:active,
.page-list .pagenum-current:hover {
	color: red;
}

.tab-outer-container .tab-title-container {
	border-color: #69c;
}

.tab-outer-container .tab-title {
	border-color: transparent;
	border-bottom-color: #69c;
}

* html .tab-outer-container .tab-title {
	border-color: #eff1f3;
	border-bottom-color: #69c;
}

.tab-outer-container .tab-title-selected {
	border-color: #69c;
	border-bottom-color: transparent;
	background-color: #eff1f3;
}

* html .tab-outer-container .tab-title-selected {
	border-color: #69c;
	border-bottom-color: #eff1f3;
}

* + html .tab-outer-container .tab-title-selected {
	border-bottom-color: #eff1f3;
}

.ubbtoolbar .ubbbutton,
.ubbtoolbar .ubbface {
	border-color: #eff1f3;
}

.ubbtoolbar .ubbbutton:hover,
.ubbtoolbar .ubbface:hover {
	border-color: #69c;
	background-color: #f7f8f9;
}