.flex-box a {
	border-color:#ffd1e1;
}
.flex-box a:hover {
	border-color:#ff9cbf;
	background:#fff6fb;
}

.topic .admin-message-tools {
	border-color: #fdbdd3;
}

.topic .admin-message-tools a.tool:hover {
	background:#fff6fb;
}

.topic .admin-message-tools .tool-status {
	background:#fcc2d6;
}

.detail-item {
	border-color:#fdbdd3;
}